@model ViewModel.HolidayListMasterModel
@{
    /**/

    /**/

    ViewBag.Title = "LeaveBalance";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style type="text/css">
        .v-divider {
            margin-left: 5px;
            margin-right: 5px;
            width: 1px;
            height: auto;
            border-left: 3px solid black;
        }
    </style>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mt-1 mb-1 justify-content-center">
            <div class="col-md-4 offset-3">
                <h1>Holiday</h1>
            </div>
        </div>
    </div>
</section>
<div id="Successmessage" class="justify-content-center"><h5 class="justify-content-center" style="color:blue">@ViewData["Success"]</h5></div>
<div id="errormessage" class="justify-content-center"><h5 class="justify-content-center" style="color:red">@ViewData["alreadyadd"]</h5></div>
<br />

@using (Html.BeginForm("HolidayList", "Leave", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.HolydayListModel.id)
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-4 offset-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.HolydayListModel.year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.HolydayListModel.year, (IEnumerable<SelectListItem>)ViewBag.Year, htmlAttributes: new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.HolydayListModel.year, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label></label>
                    <div class="col-md-10">
                        @*<a href="javascript:void(0);" data-toggle="modal" data-target="#ModalProfileImage" data-fromdate="@item.FromDate" data-todate="@item.ToDate" data-noofleave="@item.NoOfLeave" data-leaveid="@item.id">Cancle</a>*@
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalProfileImage" class="btn btn-default btn-block">Add Weekend</a>
                        @*<input type="button"     value="Find" class="btn btn-default btn-block" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="modal fade" id="ModalProfileImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Weekend</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group row">

                            <div class="col-md-4 ">
                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.HolydayYear, (IEnumerable<SelectListItem>)ViewBag.HolidayYear, htmlAttributes: new { @class = "form-control", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.HolydayYear, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">

                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.WeekdaySaturday, (IEnumerable<SelectListItem>)ViewBag.WeekendSaturday, htmlAttributes: new { @class = "form-control", @autocomplete = "off" })<br />
                                        @Html.RadioButton("Dayselectionrbg", "all", isChecked: true) &nbsp; @Html.Label("All")<br />
                                        @Html.RadioButton("Dayselectionrbg", "alternative", isChecked: false) &nbsp; @Html.Label("Alternative") &nbsp;
                                        <div id="alternative" style="display:none">
                                            @for (var i = 0; i < Model.alternativedays.Count(); i++)
                                            {

                                                @Html.HiddenFor(x => Model.alternativedays[i].value)
                                                @Html.HiddenFor(x => Model.alternativedays[i].text)
                                                @Html.CheckBoxFor(model => model.alternativedays[i].cheked, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } }) @:&nbsp; @Html.DisplayFor(model => model.alternativedays[i].text, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } }) &nbsp;
                                            }
                                            @*@Html.CheckBox("first",isChecked:true)*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-md-3 offset-2">
                                <input type="submit" id="CancleLeave" value="Ok" class="btn btn-default btn-block" onclick="return confirm('Are sure wants to Add?')" />
                            </div>
                            <div class="col-md-3 offset-1">
                                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12" id="Profile">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#Holiday" data-toggle="tab">Holiday</a></li>
                                <li class="nav-item"><a class="nav-link" href="#Weekend" data-toggle="tab">Weekend</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li style="width:200px"><input type="button" value="Add" class="btn btn-default btn-block" onclick="location.href='@Url.Action("HolyDay", "Leave")'" /></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="Holiday">
                                    <table id="EmpList" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sr.No.</th>
                                                <th>Holyday Name</th>
                                                <th>Description</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>No of Days</th>
                                                <th>Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int NoHoliday = 0; }
                                            @foreach (var item in Model.holydayListModels)
                                            {
                                                <tr>
                                                    <td>@(NoHoliday = NoHoliday + 1)</td>
                                                    <td>@item.HolydayName</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.FromDate</td>
                                                    <td>@item.ToDate</td>
                                                    <td>@item.NoOfDays</td>
                                                    <td>@item.year</td>
                                                </tr>}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="tab-pane" id="Weekend">
                                    <table id="WeekendList" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sr.No.</th>
                                                <th>Date</th>
                                                <th>Weekday</th>
                                                <th>Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int NoWeekend=0;}
                                            @foreach (var item in Model.weekendmodels)
                                            {
                                                <tr>
                                                    <td>@(NoWeekend = NoWeekend + 1)</td>
                                                    <td>@item.Date.Value.ToShortDateString()</td>
                                                    <td>@item.Weekday</td>
                                                    <td>@item.Year</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
                <!--Edit -->

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

}


@section scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $('#ModalProfileImage').on('show.bs.modal', function (e) {

        });
    </script>
    <script type="text/javascript">
        $('#Successmessage').delay(5000).fadeOut('slow');
        $('#errormessage').delay(7000).fadeOut('slow');

    </script>
    <script type="text/javascript">

    $(document).ready(function() {
        $("#HolydayListModel_year").change(function() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("YearHoliday","Leave")',
                datatype: JSON,
                data: {
                    'id': $("#HolydayListModel_year").val()
                },
                success: function(data) {
                    $('#EmpList tbody').empty();
                    $.each(data, function(i, item) {
                        var rows = "<tr>" + "<td>" + item.id + "</td>" + "<td>" + item.HolydayName + "</td>" + "<td>" + item.Description + "</td>" + "<td>" + ToJavaScriptDate(item.FromDate) + "</td>" + "<td>" + ToJavaScriptDate(item.ToDate) + "</td>" +"<td>" + item.NoOfDays + "</td>" +"<td>" + item.year + "</td>" +"</tr>";
                        $('#EmpList tbody').append(rows);
                    });
                },
                error: function(data) {}
            });
        });
        });
        function ToJavaScriptDate(value) {

            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);

            var dt = new Date(parseFloat(results[1]));
            return dt.getDate() + "/" + (dt.getMonth() + 1)  + "/" + dt.getFullYear();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('input[name="Dayselectionrbg"]').click(function () {
                if ($(this).attr('value') == 'alternative') {
                    $('#alternative').show();
                }

                else {
                    $('#alternative').hide();
                }
            });
        });
    </script>
    <script>

        //$("#example1").DataTable()
        $(function () {
            ;
            $('#WeekendList').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });</script>
}

